.wrapper {
  text-align: center;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

.img {
  margin: 0 auto;
  display: block;
  height: 100%;
  object-fit: cover;
  padding-top: 8px;
}

.control {
  padding: 8px;
}
