.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 8px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.avatar {
  width: 50px;
  height: 70px;

  img {
    width: 100%;
    height: 100%;
  }
}

.info {
  margin-left: 16px;
  font-size: 1.4rem;
}

.name {
  font-size: 1.5rem;
}

.detail {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.2;
}

.episode {
  font-weight: 600;
}
